/*
  |==============================
  | Customer style
  |==============================
*/

.customer {
    padding: 60px 0;

    @media screen and (min-width: 1200px) {
        padding: 90px 0;
        }

    &__list {
        @include flexbox(flex, null, center, null);
        flex-wrap: wrap;
        gap: var(--indent);
    }

    &__item {
        flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));

        @media screen and (min-width: 768px) {
            --items: 3;
        }

        @media screen and (min-width: 768px) {
            --items: 6;
        }
    }

    &__title {
        margin-bottom: 50px;
    }

    &__link {
        @include flexbox(flex, center, center, null);
        width: 170px;
        height: 92px;
        fill: var(--silver-icon-bg-cl, #afb1b8);
        border: 1px solid #afb1b8;
        border-radius: 4px;
        transition: border var(--transition-duration) var(--transition-timing-function),
            fill var(--transition-duration) var(--transition-timing-function);
    }

    &__link:hover,
    &__link:focus {
        border: 1px solid #2196f3;
        fill: var(--accent-icon-bg-clicon-bg-cl, #2196f3);
    }
}