/*
  |==============================
  | Footer style
  |==============================
*/

.footer {
    padding: 60px 0;
    background-color: var(--footer-hero-bg-cl, #2f303a);

    &__container {
        @media screen and(min-width: 768px) {
        @include flexbox(flex, center, space-between, null);
        flex-wrap: wrap
        }
    }
}

// Footer contact

.footer-contacts {
    @media screen and(min-width: 768px) {
    @include flexbox(flex, null, center, column);
        &--right {
            margin-right: 165px;
        }
    }

         @media screen and(min-width: 1200px) {
            &--right {
                    margin-right: 70px;
                }

         }

    

    &__logo {
        text-align: center;
        display: block;
        margin-bottom: 20px;
        color: var(--white-logo-txt-cl, #ffffff);
        transition: color var(--transition-duration) var(--transition-timing-function);
        
        @media screen and (min-width: 1200px) {
            text-align: left;
        }
    }
}


//  Adrdress start
.address {
    text-align: center;
    @include font(14px, 400, 24px, 0.03em);
    font-style: normal;
    color: var(--white-txt-cl, #ffffff);

    &__text,
    &__item {
        margin-bottom: 9px;
        transition: color var(--transition-duration) var(--transition-timing-function);
    }

    &__item:last-child {
        margin-bottom: 0px;
    }

    &__link {
        color: var(--silver-txt-cl, rgba(255, 255, 255, 0.6));
        text-decoration: none;
        transition: color var(--transition-duration) var(--transition-timing-function);
    }

    &__link:hover,
    &__link:focus {
        color: var(--accent-txt-cl, #2196f3);
        fill: var(--accent-icon-bg-cl, #2196f3);
    }

    @media screen and (min-width: 1200px) {
        text-align: left;
    }


}


// Footer social start
.footer-social {
    @media screen and (min-width: 1200px) {
        
    }
    &--right {
        margin-right: 93px;
    }

    &__text {
        display: inline-block;
        @include font(14px, 700, 16px, 0.03em);
        text-transform: uppercase;
        color: var(--white-txt-cl, #ffffff);
    }

    &__text--bottom {
        margin-bottom: 20px;
    }

    &__icon-item {
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.1);
    }

    &__icon-link {
        fill: var(--white-social-bg-cl, #ffffff);
    }
}

/* Footer subscription start */
.footer-subscription__form {
    display: flex;
}

.subscription__text {
    display: block;
    @include font(14px, 700, 16px, 0.03em);
    text-transform: uppercase;
    color: var(--white-txt-cl, #ffffff);

    &--bottom {
        margin-bottom: 20px;
    }
}

.subscription-email {
    display: flex;
}

.subscription-email__input {
    display: inline-block;
    padding-left: 20px;
    width: 358px;
    background-color: inherit;
    color: var(--white-txt-cl, #ffffff);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    transition: border var(--transition-duration) var(--transition-timing-function);

    &:focus {
        outline: none;
        border: 1px solid var(--accent-input-cl, #2196f3);
    }

    &::placeholder {
        font-style: normal;
        @include font(16px, 400, 20px, 0.03em);
        color: rgba(255, 255, 255, 0.6);
    }
}

.subscription-email__btn {
    display: inline-flex;
    align-items: center;

    &--left {
        margin-left: 10px;
    }
}

.subscription-email__btn-icon--left {
    margin-left: 10px;
}
