/*
  |==============================
  | Header style
  |==============================
*/

.header {
    border-bottom: 1px solid #ececec;

    &__container {
            display: flex;
        }

    &__contact-list {
            @include flexbox(flex, center, null, null);
            margin-left: auto;
    }

    &__contact-item {
        margin-right: 50px;
    }

    &__contact-item:last-child {
        margin-right: 0;
    }

    &__contact-link {
        @include flexbox(flex, center, null, null);
        @include font(14px, 500, 16px, 0.02em);
        padding-top: 32px;
        padding-bottom: 32px;
        color: var(--gray-txt-cl, #757575);
        fill: var(--gray-icon-bg-cl, #757575);
        transition: color var(--transition-duration) var(--transition-timing-function),
            fill var(--transition-duration) var(--transition-timing-function);
    }

    &__contact-icon {
        width: 16px;
        height: 16px;
    }

    &__contact-icon--right {
        margin-right: 10px;
    }
    
    &__contact-link {

        &:hover,
        &:focus {
            color: var(--accent-txt-cl, #2196f3);
            fill: var(--accent-icon-bg-cl, #2196f3);
        }
}
}













