/*
  |==============================
  | Hero style
  |==============================
*/

.hero {
    margin: 0 auto;
    max-width: 1600px;
    min-height: 400px;
    padding: 118px 0;
    text-align: center;
    background-color: var(--footer-hero-bg-cl, #2f303a);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    // Mobil img banner
    @media screen and (max-width: 479px) {
        max-height: 400px;
        background: linear-gradient(var(--hero-lg-bg-cl, rgba(47, 48, 58, 0.4)),
            var(--hero-lg-bg-cl, rgba(47, 48, 58, 0.4))), url("../img/hero/hero@1x_sm.jpg");
        background: linear-gradient(var(--hero-lg-bg-cl, rgba(47, 48, 58, 0.4)),
            var(--hero-lg-bg-cl, rgba(47, 48, 58, 0.4))), -webkit-image-set(url("../img/hero/hero@1x_sm.webp") 1x);
        
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background: linear-gradient(var(--hero-lg-bg-cl, rgba(47, 48, 58, 0.4)),
                var(--hero-lg-bg-cl, rgba(47, 48, 58, 0.4))), url("../img/hero/hero@2x_sm.jpg");
            background: linear-gradient(var(--hero-lg-bg-cl, rgba(47, 48, 58, 0.4)),
                var(--hero-lg-bg-cl, rgba(47, 48, 58, 0.4))), -webkit-image-set(url("../img/hero/hero@2x_sm.webp") 2x);
        }
    }

    // Tablet img banner
    @media screen and (min-width: 480px) {
        background: linear-gradient(var(--hero-lg-bg-cl, rgba(47, 48, 58, 0.4)),
            var(--hero-lg-bg-cl, rgba(47, 48, 58, 0.4))), url("../img/hero/hero@1x_md.jpg");
        background: linear-gradient(var(--hero-lg-bg-cl, rgba(47, 48, 58, 0.4)),
            var(--hero-lg-bg-cl, rgba(47, 48, 58, 0.4))), -webkit-image-set(url("../img/hero/hero@1x_md.webp") 1x);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background: linear-gradient(var(--hero-lg-bg-cl, rgba(47, 48, 58, 0.4)),
                var(--hero-lg-bg-cl, rgba(47, 48, 58, 0.4))), url("../img/hero/hero@1x_md.jpg");
            background: linear-gradient(var(--hero-lg-bg-cl, rgba(47, 48, 58, 0.4)),
                var(--hero-lg-bg-cl, rgba(47, 48, 58, 0.4))), -webkit-image-set(url("../img/hero/hero@1x_md.webp") 2x);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            }  
    }

    // Laptop img banner
    @media screen and (min-width: 768px) {
        max-height: 600px;
        padding: 200px 0;
        background: linear-gradient(var(--hero-lg-bg-cl, rgba(47, 48, 58, 0.4)),
            var(--hero-lg-bg-cl, rgba(47, 48, 58, 0.4))), url("../img/hero/hero@1x_lg.jpg");
        background: linear-gradient(var(--hero-lg-bg-cl, rgba(47, 48, 58, 0.4)),
            var(--hero-lg-bg-cl, rgba(47, 48, 58, 0.4))), -webkit-image-set(url("../img/hero/hero@1x_lg.webp") 1x);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background: linear-gradient(var(--hero-lg-bg-cl, rgba(47, 48, 58, 0.4)),
                var(--hero-lg-bg-cl, rgba(47, 48, 58, 0.4))), url("../img/hero/hero@1x_lg.jpg");
            background: linear-gradient(var(--hero-lg-bg-cl, rgba(47, 48, 58, 0.4)),
                var(--hero-lg-bg-cl, rgba(47, 48, 58, 0.4))), -webkit-image-set(url("../img/hero/hero@1x_lg.webp") 2x);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }


// Button and title

    &__title {
        margin: 0 auto 0;
        max-width: 360px;
        @include font(26px, 900, 42px, 0.06em);
        
        @media screen and (min-width: 768px) {
            @include font(44px, null, 60px, null);
            max-width: 696px;
        }

        text-transform: uppercase;
        color: var(--white-txt-cl, #ffffff);
        }

    &__title--bottom {
        margin-bottom: 30px;
    }

    &__btn-blue {
        display: inline-block;
    }
}


