/*
  |==============================
  | Portfolio style
  |==============================
*/

// Filter
.filters {
    @include flexbox(flex, center, null, null);
    gap: 8px;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
        justify-content: center;
    }
        

    &__list {
        margin-bottom: 40px;

        @media screen and (min-width: 768px) {
        margin-bottom: 30px;}

        @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        }
    }
}

// Overlay

.overlay {
    position: absolute;
    opacity: 0;
    transform: translatey(100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transition: transform var(--transition-duration) var(--transition-timing-function),
        opacity var(--transition-duration) var(--transition-timing-function),
        background-color var(--transition-duration) var(--transition-timing-function);

    &__text {
        padding: 15px 15px;
        @include font(14px, 400, 28px, 0.03em);

        @media screen and (min-width: 360px) {
            padding: 30px 24px;
            @include font(17px, 400, 28px, 0.03em);
        }
        @media screen and (min-width: 480px) {
            padding: 63px 24px;
            @include font(18px, 400, 28px, 0.03em);
            }
        
        color: var(--white-txt-cl, #ffffff);
    }
}

// Portfolio
.portfolio {
    padding: 60px 0;

    @media screen and (min-width: 1200px) {
    padding: 94px 0;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: var(--indent);
    }

    &__item {
        display: flex;
        flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));

        @media screen and (max-width: 767px) {
            --items: 1;
            }

        @media screen and (min-width: 768px) {
            --items: 2;
            }

        @media screen and (min-width: 1200px) {
            --items: 3;
        }
    }

    &__thumb {
        position: relative;
        height: auto;
        max-width: 100vw;
        overflow: hidden;
    }

    &__img {
     width: 100%;  
    }

    &__link:hover .overlay {
        transform: translatey(0);
        opacity: 1;
    }

    &__link:hover,
    &__link:focus {
        cursor: pointer;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
        transition: box-shadow var(--transition-duration) var(--transition-timing-function);
    }
    

    &__project {
        flex-grow: 1;
        border-left: 1px solid #eeeeee;
        border-right: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
        padding: 20px 24px;
     }
        

    &__text {
        @include font(16px, 400, 30px, 0.03em);
        color: var(--gray-txt-cl, #757575);
    }

    &__title {
        margin-bottom: 4px;
        @include font(18px, 700, 36px, 0.06em);
        color: var(--dark-main-txt-cl, #212121);
    }

    &__link {
        @include flexbox(flex, null, null, column);
        flex-grow: 1;
        text-decoration: none;
        transition: box-shadow var(--transition-duration) var(--transition-timing-function);
    }
}