/*
  |==============================
  | Preferences style
  |==============================
*/

.preferences {
    padding: 60px 0;
    
    @media screen and (min-width: 1200px) {
        padding: 90px 0;
    }

    &__list {
            display: flex;
            flex-wrap: wrap;
            gap: var(--indent);
        }
    
    &__item {
        flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
       
        @media screen and (max-width: 767px) {
                --items: 1;
            }
        
        @media screen and (min-width: 768px) {
            --items: 2;
        }

        @media screen and (min-width: 1200px) {
            --items: 4;
        }
    }

    &__box {
        @include flexbox(flex, center, center, null);
        height: 120px;
        border-radius: 4px;
        background-color: var(--box-bg-cl, #f5f4fa);
    }

    &__box--bottom {
        margin-bottom: 30px;
    }

    &__title {
        text-align: center;
        @include font(14px, 700, 16px, 0.03em);
        text-transform: uppercase;
        
        @media screen and (min-width: 768px) {
            text-align: left;
        }
    }

    &__title--bottom {
        margin-bottom: 10px;
    }

    &__text {
        @include font(14px, 400, 24px, 0.03em);
        color: var(--gray-txt-cl, #757575);

        @media screen and (min-width: 1200px) {
        max-width: 270px;    
            }
    }
}
