/*
  |==============================
  | Nav style
  |==============================
*/

.nav {
    @include flexbox(flex, center, space-between, null);

    &__logo {
        @include padding (16px);
    }

    @media screen and (max-width: 767px) {
        &__list {
        display: none;
        }
    }


    @media screen and (min-width: 768px) {

        @include flexbox(flex, center, null, null);
        
        &__list {
            display: flex;
        }
    
        &__logo {
            @include padding (25px);
            margin-right: 87px;
        }
        
    }

    @media screen and (min-width: 1200px) {
        &__logo {
                margin-right: 93px;
            }
        
    }
}


.nav__item {

    @media screen and (min-width: 768px) {

    margin-right: 50px;
    
        &:last-child {
            margin-left: 0;
        }
    }
    
}


.nav__link {

    @media screen and  (min-width: 768px) { 
        
    position: relative;
        @include padding (32px);
        @include font(14px, 500, 16px, 0.02em);
        color: inherit;
        transition: color var(--transition-duration) var(--transition-timing-function);
    
        &--current {
            color: var(--accent-txt-cl, #2196f3);
        }
    
        &--current::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -1px;
            min-width: 100%;
            min-height: 4px;
            border-radius: 2px;
            background-color: var(--accent-txt-cl, #2196f3);
        }
    
        &:hover,
        &:focus {
            color: var(--accent-txt-cl, #2196f3);
            fill: var(--accent-icon-bg-cl, #2196f3);
        }

    }
    
}
